server:
  port: 8080

spring:
  application:
    name: gateway-service
  
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - Authorization
            allowCredentials: false

jwt:
  secret: miClaveSecretaSuperSeguraParaJWT2024DebeSerMuyLarga123456789
  expiration: 86400000

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.gateway: DEBUG
    