server:
  port: 8082

spring:
  application:
    name: business-service

  datasource:
    url: jdbc:postgresql://localhost:5434/business_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.business: DEBUG